*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
.header{
    width: 100%;
    height: auto;
    background-color: black;
    position: sticky;
    top: 0;
    justify-content:space-between;
}

nav{
    display: flex;
    padding: 1% 3%;
    align-items:center;
    position: relative;
}

.-link a{
    text-decoration: none;
}
.-link p{
    color: white;
    font-size: 30px;
    padding-right: 30px;
}
.link{
    flex: 1;
    justify-content: space-between;
    }
.link ul li {
    display: inline-block;
    padding: 8px 40px;
}
.link ul li a{
    text-decoration: none;
    color: tomato;
    cursor: pointer;
}
#first::after{
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    display: block;
    margin: solid;
}
.common::after{
        content: '';
        width: 0;
        height: 2px;
        background: white;
        display: block;
        margin: solid;
}

.common:hover::after{
    width: 100%;
    transition: 0.8s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px) {
    .-link p{
        padding: 5px;
        font-size: 20px;
    }
    nav{
        padding: 10px 20px;
        justify-content: space-between;
    }
    .link ul li{
        display: block;
    }
    .link{
        position: fixed;
        background-color:white;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: tomato;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    #first::after{
        content: "";
        width: 100%;
        height: 2px;
        background: black;
        display: block;
        margin: solid;
    }
   
}

/*----------------Contact us---------------------------------*/
.contact-us{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.row{
    display: flex;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: tomato;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contect-col input,.contect-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    overflow: none;
    border: 1px solid #ccc;
}
.hero-btn{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: tomato;
    border: 1px solid tomato;
    padding: 10px 20px;
    transition: 0.8s;
    cursor: pointer;
}
.hero-btn:hover{
    background-color: tomato;
    color: #ffff;
}


@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}



/*-------footer------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: tomato;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}















